<<<<<<< HEAD
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  transition: max-height 0.3s ease-in-out;

  &.open {
    max-height: 620px; /* Adjust as needed */
  }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    transition: max-height 0.3s ease-in-out;
  
    &.open {
      max-height: 500px; /* Adjust as needed */
    }
  }
  
  
  .logo img {
    font-size: 1.5rem;
    height: 50%;
    width: 50%;
  }
  
  .navList {
    list-style: none;
    display: flex;
    align-items: center;
  
    li {
      margin: 0 10px;
      cursor: pointer;
    }
  }
  @media (min-width: 769px) {
    .navbar{
      display: none;
    }
  }
  @media (max-width: 768px) {
    .navbar1{
      display: none;
    }
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      max-height: 70px; /* Adjust as needed */
      overflow: hidden;
    }
    .doublenav{
      margin-top:20px ;
      width: 100%;
    }
  
    .mobileToggle {
      display: block;
    }
  
    .navList {
      
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
  
      li {
        margin: 5px 0;
        border-bottom: 1px solid #b9a8a8;
    width: 100%;
      }
  
      &.open {
        display: flex;
      }
    }
  }
  
  .navList1 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
    margin-top: 10px;
  
    li {
      margin: 0 16px;
      cursor: pointer;
      font-size: 12px;
    color: #978a8a;

    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      max-height: 70px; /* Adjust as needed */
      overflow: hidden;
    }
  
    .mobileToggle {
      display: block;
    }
  
    .navList1 {
      
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
  
      li {
        margin: 5px 0;
        border-bottom: 1px solid #b9a8a8;
        width: 100%;
        color: #000;
      }
  
      &.open {
        display: flex;
      }
    }
  }
  .collapsible {
    cursor: pointer;
    background: no-repeat;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 100px;
    background-color: #fd6c3ee3;
    padding: 5px;
    margin: 7px 0;
  }
  .content {
    
    display: none;
    overflow: hidden;
    list-style: none;
  }
  .content li{
    border-bottom: none;
    margin: 20px 0;
  }
  .collapsicon{
    display: flex;
    justify-content: space-between;
  }
    
=======
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 100px 15px 100px;
  transition: max-height 0.3s ease-in-out;
  max-width: 1500px;
  margin: 0 auto;

  @media (max-width: 900px) {
    padding: 14px 40px 15px 40px;
  }

  @media (max-width: 600px) {
    padding: 14px 20px 15px 20px;
  }

  &.open {
    max-height: 1150px;
  }
}

.logo img {}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;

  @media (max-width: 1100px) {
    gap: unset;
  }

  li {
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;

    a {
      text-decoration: none;
      color: #475467;
    }
  }
}

@media (max-width: 1100px) {
  .navbar {
    display: block;
    // flex-direction: column;
    // align-items: flex-start;
    max-height: 1100px;
    overflow: hidden;
  }
  .navmobile{
    display: flex;
    justify-content: space-between;
  }

  .doublenav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    
  }

  .mobileToggle {
    display: block;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;

    li {
      border-bottom: 1px solid #475467;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      padding: 25px 12px;
    }

    &.open {
      display: flex;
    }
  }
}

.navList1 {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 10px;
  gap: 25px;

  @media (max-width: 1100px) {
    gap: unset;
  }

  li {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    a {
      text-decoration: none;
      color: #475467;
    }
  }
}

@media (max-width: 1100px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    max-height: 70px;
    overflow: hidden;
  }

  .mobileToggle {
    display: block;
  }

  .navList1 {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin-top: -17px;

    li {
      border-bottom: 1px solid #475467;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      padding: 25px 12px;
    }

    &.open {
      display: flex;
    }
  }
}
>>>>>>> abb4ce1 (New landing page)
