.nyheter{
  padding-left: 20px;
  padding-right: 20px;
}
.nyheter h1{
  margin-bottom: 60px;
  margin-top: 50px;
  color: #757373FF;
}

.left{
 width: 33%;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 250px;
  background: darkgrey;
}
.right{
  width: 65%;
  text-align: left;
}
.right h2{
  margin-bottom: 30px;
  color: #757373FF;
}
.right p{
  margin-bottom: 30px;
}
.nyheterblock{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}